# Dependencies
/node_modules

# Production
/public
/.deploy_git
.deploy_git

# Config
# 舊規則 *.yml 會連 themes/、source/_data 的必要 yml 一起忽略，改成只忽略特定檔案
/_admin-config.yml

db.json
.deploy*/
Thumbs.db
public/
